<div class="joturl-panel-holder">
    <div class="joturl-panel-overlay"></div>
    <div class="joturl-panel joturl-main-container">
        <div class="joturl-panel-centered">
            <div class="joturl-panel-wrapper joturl-panel-with-header">
                <div class="joturl-panel-header">
                    <i class="joturl-panel-close joturlwp_icon_close"></i>
                    <div class="joturl-panel-header-title">
                        <div class="title"></div>
                    </div>
                    <div class="loading-progress"></div>
                </div>
                <div class="joturl-panel-scrollpane">
                    <div class="joturl-panel-content joturl-panel-padding"></div>
                </div>
                <div class="joturl-panel-message">
                    <div class="joturl-panel-message-container">

                    </div>
                </div>
                <div class="joturl-panel-footer">
                    <div class="joturl-panel-footer-info">

                    </div>
                    <div class="joturl-panel-footer-fixed joturl-panel-footer-actions">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="joturl-panel-overlay"></div>
    <div class="joturl-panel joturl-main-sub"></div>
</div>